{% extends "products/layout.html" %}

{% block title %}
    Fruitiet- Home
{% endblock %}

{% block body %}
<div class="row">
    {% for product in products %}
        <div class="col-sm-6 col-md-4">
            <div class="card" style="width: 25rem; margin: auto;">
                {% for item in product.productimage_set.all %}
                    {% if item.featured %}
                        <img class="card-img-top img-responsive" src="{{ MEDIA_URL }}{{ item.image.url }}" alt="photo">
                    {% endif %}
                {% endfor %}
            </div>
            <div class="card-body" style="text-align: center;">
                <h6 class="card-title">{{ product.get_price }}</h6>
                <p class="card-text">{{ product.description|truncatewords:15 }}</p>
                <a href="{{ product.get_absolute_url }}" class="btn btn-primary">{{ product.title }}</a>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}

